<dynamic-options-example></dynamic-options-example>

<async-value-options-example></async-value-options-example>

<multi-select-example></multi-select-example>

<create-values-example></create-values-example>

<placeholder-state-example></placeholder-state-example>

<state-toggle-example></state-toggle-example>

<!--<div class="example">-->
	<!--<label>Option groups example</label>-->
	<!--<ng-selectize [config]="optionGroupExampleConfig"-->
				   <!--[options]="optionGroupExampleOptions"-->
				   <!--[optionGroups]="optionGroupExampleGroups"></ng-selectize>-->
<!--</div>-->


<div class="example">
	<form-example></form-example>
</div>


<preset-value-example></preset-value-example>